extends layout

block content
  h1= title
  if session._id
    p Hello #{session.login}. Do you want to post something?
    form(action='/add' method='post')
      textarea(name='text', cols=40, rows=5)
      br
      input(type='submit', value='Запостить')
  else
    p Hello, Guest. Would you like to: #[a(href='/register') Register] or #[a(href='/login') Login]?

  if session._id
    if f
      h1 Follower's Feed:
      a(href='/') Switch to global feed
    else
      h1 User's Feed:
      a(href='/f') Switch to follower's feed
  else
    h1 User's Feed:

  each post in posts
    include post