extends layout

block content
  #feed
    if session._id
      if f
        .feed-title Follower's Feed:
        a.button.switch(href='/') Switch to global feed
      else
        .feed-title User's Feed:
        a.button.switch(href='/f') Switch to follower's feed
    else
      .feed-title User's Feed:
    .clear
    #posts.block
      each post in posts
        include post
  #sidebar
    .block
      .header Wanna post something?
      if session._id
        form(onsubmit='sendData(\'' + session._id + '\'); return false;')
          input(type="text", id='postText')
          button.button.big(type='submit') Post
  .clear