doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='//cdn.socket.io/socket.io-1.4.5.js')
    script(type='text/javascript', src='/js/updateFeed.js')
  body
    #wrap
      include header
      block content