doctype html
html
  head
    title Login
    link(rel='stylesheet', href='/css/auth.css')
  body
    #wrap
      h1#logo Feeder
      a.button(href='/') < Back
      .block
        p#err
        form(method='post')
          input(id='login', type='text', name='login', placeholder='Enter your login')
          input(id='pwd', type='password', name='pwd', placeholder='Enter your password')
          input.button.big(type='submit', value='Войти')