.post
  .author-letter #{post.author.login[0]}
  .info
    .author @#{post.author.login}
    if(session._id && post.author._id != session._id)
      if (session.follows.indexOf(post.author._id) > -1)
        a(style='padding-left: 20px; color: red;', href='/removefollow/' + post.author._id) Отписаться
      else
        a(style='padding-left: 20px; color: green;', href='/addfollow/' + post.author._id) Подписаться
    .text= post.text
  .clear