doctype html
html
	head
		title Register
		link(rel='stylesheet', href='/css/auth.css')
	body
		#wrap
			h1#logo Feeder
			a.button(href='/') < Back
			.block
				p#err
				form(method='post', onsubmit="return pwdcheck()")
					input(id='login', type='text', name='login', required, placeholder='Your login')
					input(id='pwd', type='password', name='pwd',required, placeholder='Your password')
					input(id='pwdr', type='password', name='pwdr',required, placeholder='Repeat your password')
					input(id='email', type='email', name='email',required, placeholder='Your e-mail')
					input.button.big(type='submit', value='Register')
		script.
			function pwdcheck(){
				var l = document.getElementById('login').value;
				var p1 = document.getElementById('pwd').value;
				var p2 = document.getElementById('pwdr').value;
				var email = document.getElementById('email').value;

				if( ! (l && p1 && p2 && email)){
					document.getElementById('err').innerText = 'Заполните все поля!';
					return false;
				}
				if( ! (p1 == p2)){
					document.getElementById('err').innerText = 'Пароли должны совпадать!';
					return false;
				}
				console.log('true');
				return true;
			}