extends layout

block content
	a(href='/') < Back
	br
	span(id='err')
	br
	form(method='post', onsubmit="return pwdcheck()")
		label(for='login') Login:
		input(id='login', type='text', name='login')
		br
		label(for='pwd') Password:
		input(id='pwd', type='password', name='pwd')
		br
		label(for='pwdr') Repeat password:
		input(id='pwdr', type='password', name='pwdr')
		br
		label(for='email') E-mail:
		input(id='email', type='email', name='email')
		br
		input(type='submit', value='Добавить')
script.
	function pwdcheck(){
		var l = document.getElementById('login').value;
		var p1 = document.getElementById('pwd').value;
		var p2 = document.getElementById('pwdr').value;
		var email = document.getElementById('email').value;

		if( ! (l && p1 && p2 && email)){
			document.getElementById('err').innerText = 'Заполните все поля!';
			return false;
		}
		if( ! (p1 == p2)){
			document.getElementById('err').innerText = 'Пароли должны совпадать!';
			return false;
		}
		console.log('true');
		return true;
	}