@import "fonts.css";
@import "material.css";

#wrap{
    margin: auto;
    width: 354px;
}

h1#logo{
    margin: 25px auto;
    text-align: center;
}

#header #userPanel{
    float: right;
    line-height: 45px;
}

#feed{
    padding: 15px;
}

#err{
    margin: auto;
    text-align: center;
}